<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- <title>{{ data.title }}</title>  -->
    <!-- <title>{{ config.title }}</title>  -->
    <!-- <title>{{ this.title }}</title>  -->
    <!-- <title>{{ this.page.title }}</title>  -->
    <title>{{ title }}</title>

  </head>

  <body>

    <!-- Page Output -->
    {{> body }}

  </body>
</html>
